/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #211f20;
	color: #c7c1c8;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	flex-direction: column;
}

/* 2. Content ================================= */

header{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 2em;

	img{
		height: 150px;
		width: 300px;
		align-self: center;
	}

	h1{
		color: #fff;
		text-shadow: 2px 2px 2px #b4292e;
		padding: 20px 0;
		border-bottom: 3px solid #b4292e;
	}
}

.sect-1{
	padding: 20px 5%;
	border-bottom: 3px solid #b4292e;

	a{
		text-decoration: none;
		color: #b4292e;
		padding: 5px;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c7c1c8;
		font-weight: bold;
		transition: .4s;

		&:hover{
			background: #b4292e;
			transition: .4s;
			color: #fff;
		}
	}
}

.wrapper{
	display: flex;
	.sect-2{
		width: 50%;
		#results{
			width: 100%;
			// display: flex;
			// flex-wrap: wrap;
			// flex-direction: column;
			// text-align: center;
			li{
				width: 90%;
				margin: 20px 5% 30px 10%;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: space-around;
				padding: 5% 10px;

				a{
					text-decoration: none;	
					color: #b4292e;
					font-size: 1.5em;
					transition: .25s;

					&:hover{
						color: #fff;
						text-shadow: 2px 2px 2px #b4292e;
						transition: .25s
					}	
				}
				img{
					width: 250px;
					height: 200px;
					border: solid 2px #b4292e;
				}
			}
		}
	}	

	.sect-3{
		width: 50%;
		height: 100%;
		#map {
				height: 400px;
				width: 90%;
			}
	}
}











